*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
.Logo{
    top: 0;
    left: 0;
    padding: 20px;    
}
.container{
    display: flex;
    justify-content: center ;
    align-items: center ;
    list-style: none;
    font-weight: 600;
    position: absolute;
    top: 6%;
    left: 30%;
    
}

a{
    padding: 20px;
    color: black;
    text-decoration: none;
}

.button{
    cursor: pointer;
    padding: 15px 20px;
    font-size: 18px;
    color: white;
    background-color: rgb(82, 33, 216);
    font-weight: 600;
    border-radius: 13px;
    position: absolute;
    top: 5%;
    right: 2%;
    border: none;
}
.button:hover{
    background-color: rgb(65, 22, 114);
}

.image{
    position: absolute;
    right: 0%;
    top: 21%; 
   
}

h1{
    font-size: 50px;
    font-family: 'Carter One', cursive;
    font-family: 'Work Sans', sans-serif;
    color: rgb(5, 6, 53);
   
}
.container2{
    padding-top: 150px;
    padding-left: 40px;    
}

p{
    padding-top: 20px;
    padding-right: 50%;
    padding-bottom: 4%;
    padding-left: 3%;
    font-family: 'Carter One', cursive;
    font-family: 'Work Sans', sans-serif;
}
.fotter{
    cursor: pointer;
    padding: 15px 20px;
    font-size: 18px;
    color: white;
    background-color:  rgb(30, 21, 150);
    font-weight: 600;
    border-radius: 13px;
    border: none;
    position: absolute;
    left: 3%;
}
.fotter:hover{
    background-color:  rgb(65, 22, 114);
}
h1 span{
    color: rgb(89, 64, 180);
}